@{
    ViewData["Title"] = "Privacy Policy";
    <h3>@ViewData["Message"]</h3>
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/jonatasprado2610">Github</a>
</address>